<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Irene Chou">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Irene Chou professional website">
    <title>Curriculum Vitae - Irene Chou</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <h1 id="webname">Irene Chou</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carnegie Mellon University</td>
                    <td>Sophomore, BS in Information Systems and minor in Business Analytics</td>
                </tr>
                <tr>
                    <td>Skills</td>
                    <td>HTML, CSS, Javacript, Python</td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td>Upcoming internship</td>
                </tr>
                <tr> 
                    <td>Languages</td>
                    <td>English, Mandarin</td>
                </tr>
            </tbody>
        </table>
        <p><a href="../static/resume.pdf" target="_blank">My Resume (pdf)</a></p>
    </div>
    
    <footer>
        <p>&copy; 2025 designed &amp; coded by Irene Chou</p>
    </footer>
</body>
</html>
