<!DOCTYPE html>
<html>
<head>
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Irene Chou">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Irene Chou professional website">
    <title>Things I Love to Do for Fun - Irene</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body onLoad="addYear()">
    <header>
        <h1 id="webname">Irene Chou</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
          </nav>
    </header>
    
    <div class="mainLayout">
        <div class="item1">
            <h2>Things I Love to Do for Fun</h2>
            <ul>
              <li>Playing piano</li>
              <li>Baking</li>
              <li>Shopping</li>
              <li>Trying new food</li>
            </ul>
            <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->
          </div>
          
          <div class="item2">
            <img src="../static/fun.jpg" alt="Fun Image" class="funIMG">
          </div>
          
          <div class="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Yp9q80bXF4Y?si=3FsZun1R0-dLjiS9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
        </div>
          
          <div class="item4">
            <div class="container">
              <h2>Need Some Advice?</h2>
              <p id="adviceText">Click the button to get a random piece of advice!</p>
              <button onclick="getAdvice()">Get Advice</button>
            </div>
          </div>
        </div>          
    <footer>
        <p>designed &amp; coded by Irene Chou &copy;<span id="copyYear"></span></p>
    </footer>
</body>
</html>
