<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Irene Chou">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Irene Chou professional website">
    <title>Things I Love to Do for Fun - Irene</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Irene Chou</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
          </nav>
    </header>
    
    <div class="main">
        <h2>Things I Love to Do for Fun</h2>
        <ul>
            <li>Playing piano</li>
            <li>Baking</li>
            <li>Shopping</li>
            <li>Trying new food</li>
        </ul>
    </div>
    
    <footer>
        <p>&copy; 2025 designed &amp; coded by Irene Chou</p>
    </footer>
</body>
</html>
